{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <div id="page-content">
    <!--Collection Banner-->
    <div class="slideshow slideshow-wrapper pb-section sliderFull h-50">
        <div class="home-slideshow">
            <div class="slide">
                <div class="blur-up lazyload bg-size">
                    <img class="blur-up lazyload bg-img"
                         data-src="{% static 'store/assets/images/core/header2.jpg' %}"
                         src="{% static 'store/assets/images/core/header2.jpg' %}" alt="Shop Our New Collection"
                         title="Shop Our New Collection"/>
                    <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                        <div class="slideshow__text-content">
                            <div class="wrap-caption center">
                                <h2 class="h1 mega-title slideshow__title text-italic">Parcourez toutes nos collections</h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="blur-up lazyload bg-size">
                    <img class="blur-up lazyload bg-img"
                         data-src="{% static 'store/assets/images/core/header.jpg' %}"
                         src="{% static 'store/assets/images/core/header.jpg' %}" alt="Shop Our New Collection"
                         title="Shop Our New Collection"/>
                    <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                        <div class="slideshow__text-content">
                            <div class="wrap-caption center">
                                <h2 class="h1 mega-title slideshow__title text-italic">Trouvez votre style</h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Collection Banner-->

    <div class="container-fluid">
        <!--Collection Tab slider-->
        <div class="tab-slider-product section py">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-header text-center">
                            <h2 class="h2 font-weight-bold text-uppercase">Collection MYOSOTIS</h2>
                        </div>
                        <div class="tabs-listing">
                            <div class="tab_container">
                                <div class="tab_content grid-products">
                                    <div class="productSlider">
                                        {% for product in products %}
                                            <div class="col-12 item">
                                                <!-- start product image -->
                                                <div class="product-image">
                                                    <!-- start product image -->
                                                    <a href="javascript:void(0)" title="Vue rapide"
                                                       data-toggle="modal"
                                                       data-target="#prod-{{ product.id }}">
                                                        <!-- image -->
                                                        <img class="primary blur-up lazyload"
                                                             data-src="{{ product.get_image }}"
                                                             src="{{ product.get_image }}"
                                                             alt="image" title="product"/>
                                                        <!-- End image -->
                                                        <!-- Hover image -->
                                                        <img class="hover blur-up lazyload"
                                                             data-src="{{ product.get_image }}"
                                                             src="{{ product.get_image }}"
                                                             alt="image" title="product"/>
                                                        <!-- End hover image -->
                                                        <!-- product label -->
                                                        <div class="product-labels"></div>
                                                        <!-- End product label -->
                                                    </a>
                                                    <!-- end product image -->

                                                    <!-- Start product button -->
                                                    <!--<form class="variants add" action="#"
                                                        onclick="window.location.href='cart.html'" method="post">
                                                        <a href="https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?13067" class="btn btn-addto-cart" type="button"
                                                            tabindex="0">Commander</a>
                                                    </form>-->
                                                    <div class="button-set">
                                                        <a href="javascript:void(0)" title="Vue rapide"
                                                           class="quick-view-popup quick-view" data-toggle="modal"
                                                           data-target="#prod-{{ product.id }}">
                                                            <i class="icon anm anm-search-plus-r"></i>
                                                        </a>

                                                    </div>
                                                    <!-- end product button -->
                                                </div>
                                                <!-- end product image -->

                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    {% for product in products %}
        {% include 'store/product-pop-up.html' %}
    {% endfor %}

    <!--End Body Content-->

{% endblock %}
