{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <div id="page-content">

        <div class="slideshow slideshow-wrapper pb-section sliderFull">
            <div class="home-slideshow">
                <div class="slide">
                    <div class="blur-up lazyload bg-size">
                        <img class="blur-up lazyload bg-img"
                             data-src="{% static 'store/assets/images/core/header.jpg' %}"
                             src="{% static 'store/assets/images/core/header.jpg' %}" alt="Shop Our New Collection"
                             title="Shop Our New Collection"/>
                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content">
                                <div class="wrap-caption center">
                                    <h2 class="h1 mega-title slideshow__title text-italic">Collection Myosotis</h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-slider-product section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-header text-center">
                            <h2 class="h2">Nouvelles collections</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus!</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% for product in products %}
            <div class="tab-slider-product section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="tabs-listing">
                                <div class="tab_container">
                                    <div class="grid-products">
                                        <div class="productSlider">
                                            {% for image in product.images %}
                                                <div class="col-12 item">

                                                    <div class="product-image">

                                                        <a href="javascript:void(0)" title="Vue rapide"
                                                           data-toggle="modal"
                                                           data-target="#prod-{{ product.id }}">

                                                            <img class="primary blur-up lazyload"
                                                                 data-src="{{ image.url }}"
                                                                 src="{{ image.url }}"
                                                                 alt="image" title="product">


                                                            <img class="hover blur-up lazyload"
                                                                 data-src="{{ image.url }}"
                                                                 src="{{ image.url }}"
                                                                 alt="image" title="product">


                                                            <div class="product-labels rectangular"></div>

                                                        </a>

                                                        <div class="button-set">
                                                            <a href="javascript:void(0)" title="Vue rapide"
                                                               class="quick-view-popup quick-view" data-toggle="modal"
                                                               data-target="#prod-{{ product.id }}">
                                                                <i class="icon anm anm-search-plus-r"></i>
                                                            </a>

                                                        </div>

                                                    </div>

                                                </div>

                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}



    </div>
    {% for product in products %}
        {% include 'store/product-pop-up.html' %}
    {% endfor %}
{% endblock %}